.empty {
    text-align: center;
    color: #777;
    background-color: #fff;
    margin-right: -1rem;
    margin-left: -1rem;
    padding: 1rem;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
}
.empty i {
    display: block;
    font-size: 2rem;
}
