.root {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.todo-app {
    width: 100%;
    max-width: 500px;
    padding: 1rem 1rem 0 1rem;
    overflow: hidden;
    border-radius: 0.6rem;
    margin: 2rem 0;
    -webkit-box-shadow: 0px 0px 26px 4px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 0px 0px 26px 4px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 26px 4px rgba(255, 255, 255, 0.2);
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(
        top,
        rgba(255, 255, 255, 1) 0%,
        rgba(246, 246, 246, 1) 100%
    );
    background: -webkit-linear-gradient(
        top,
        rgba(255, 255, 255, 1) 0%,
        rgba(246, 246, 246, 1) 100%
    );
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(246, 246, 246, 1) 100%
    );
}

@media (max-width: 530px) {
    .todo-app {
        margin-left: 1rem;
        margin-right: 1rem;
        width: 100%;
        max-width: none;
    }
}