.status {
    position: relative;
    margin: 0 -1rem 0 -1rem;
}
.status > div {
    position: relative;
    height: 3px;
    background-color: #eee;
}
.status > div > div {
    background-color: #008080 !important;
    height: 3px;
    width: 0%;
    position: absolute;
    left: 0;
    top: 0;
    transition: width 0.5s;
}
.status span {
    font-size: 0.9rem;
    font-style: italic;
    display: block;
    text-align: center;
}
