* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body {
    overflow-x: hidden;
}
body {
    background: #f5f5f5;
    font-family: "Source Sans Pro", Arial, sans-serif;
    width: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background: #0f0c29;
    background: -moz-linear-gradient(to right, #0f0c29, #302b63, #0f0c29);
    background: -webkit-linear-gradient(to right, #0f0c29, #302b63, #0f0c29);
    background: linear-gradient(to right, #0f0c29, #302b63, #0f0c29);
}
ul,
ol,
li {
    list-style: none;
}
input[type="text"] {
    width: 100%;
    display: block;
    border: solid 1px #ddd;
    padding: 0.9rem;
    font-size: 0.9rem;
}
input[type="text"]:focus {
    outline: none;
}
input:read-only {
    background-color: transparent;
}
button {
    background-color: transparent !important;
    border: none;
    outline: none;
    cursor: pointer;
}
::-webkit-scrollbar {
    height: 3px;
    width: 3px;
}
::-webkit-scrollbar-track {
    background: #ddd;
}
::-webkit-scrollbar-thumb {
    background: #302b63;
}
::-webkit-scrollbar-thumb:hover {
    background: #302b63;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}
